<?xml version="1.0"?>

<launch>

  <param name="robot_description" textfile="$(find instrument_description)/urdf/instrument.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <param name="use_gui" value="true"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find instrument_description)/config/instrument_config.rviz" required="true"/>

</launch>